<?xml version="1.0"?>
<ruleset name="Open Graph Control">
  <description>WordPress Coding Standards adapted for modern PSR-4 plugin code.</description>

  <file>src</file>
  <file>tests</file>
  <arg name="extensions" value="php"/>
  <arg name="colors"/>
  <arg value="sp"/>

  <config name="minimum_supported_wp_version" value="6.2"/>
  <config name="testVersion" value="8.0-"/>

  <rule ref="WordPress">
    <!-- PSR-4 file naming (class StudlyCaps.php) instead of legacy class-foo.php. -->
    <exclude name="WordPress.Files.FileName"/>

    <!-- Modern short array syntax [] is fine. -->
    <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
    <exclude name="Generic.Arrays.DisallowShortArraySyntax"/>

    <!-- Verbose doc block requirements on every function/class/param are noisy
         for modern typed PHP. We use docblocks where they add signal. -->
    <exclude name="Squiz.Commenting.FunctionComment"/>
    <exclude name="Squiz.Commenting.ClassComment"/>
    <exclude name="Squiz.Commenting.VariableComment"/>
    <exclude name="Squiz.Commenting.FileComment.Missing"/>
    <exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
    <exclude name="Generic.Commenting.DocComment.MissingShort"/>

    <!-- Internal exception messages don't need esc_html. -->
    <exclude name="WordPress.Security.EscapeOutput.ExceptionNotEscaped"/>
  </rule>

  <rule ref="WordPress.NamingConventions.ValidVariableName">
    <properties>
      <property name="allowed_custom_properties" type="array">
        <element value="openGraphControl"/>
      </property>
    </properties>
  </rule>

  <rule ref="WordPress.WP.I18n">
    <properties>
      <property name="text_domain" type="array">
        <element value="open-graph-control"/>
      </property>
    </properties>
  </rule>

  <!-- Tests can be even more relaxed about comments. -->
  <rule ref="Squiz.Commenting">
    <exclude-pattern>tests/</exclude-pattern>
  </rule>
</ruleset>
